src/main/mule/cloudhub2-prc-app-main.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:redis="http://www.mulesoft.org/schema/mule/redis" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/redis http://www.mulesoft.org/schema/mule/redis/current/mule-redis.xsd">
    <http:listener-config name="cloudhub2-prc-app-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="cloudhub2-prc-app-config" api="resource::acbc968c-098c-4b16-951f-9c13718264ba:cloudhub2-prc-app:1.0.0:raml:zip:cloudhub2-prc-app.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <redis:redis-config name="Redis_Redis" doc:name="Redis Redis" doc:id="61b3f552-3f81-4ff6-9b4e-97150f9d7d3a" >
		<redis:nonclustered-connection host="redis-17716.c282.east-us-mz.azure.cloud.redislabs.com" port="17716" password="RGLvI0AEAgUoMXzfvPEWzOc7MHk0QfPB" />
	</redis:redis-config>
	<flow name="cloudhub2-prc-app-main">
        <http:listener config-ref="cloudhub2-prc-app-httpListenerConfig" path="/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="cloudhub2-prc-app-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\accountsDetails:cloudhub2-prc-app-config" doc:id="ff23746f-f202-4c2d-8bce-19970121c55f">
		<ee:transform doc:name="Transform Message" doc:id="a1800ab3-799e-4664-80a8-69099e3d5cf2" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="path" ><![CDATA[%dw 2.0
output application/json
---
"/accountsDetails"]]></ee:set-variable>
				<ee:set-variable variableName="method" ><![CDATA[%dw 2.0
output application/json
---
"GET"]]></ee:set-variable>
				<ee:set-variable variableName="id" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.id as String default "0"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<set-variable value='#["sfdcResp_" ++ vars.id]' doc:name="key" doc:id="38c627ac-fe6d-4eb3-8df6-8f48d5533f33" variableName="key"/>
		<redis:get doc:name="Get" doc:id="6a3e200d-e16c-4dcf-8e8a-5b097e2e74f8" config-ref="Redis_Redis" key='#[vars.key]'/>
		<logger level="INFO" doc:name="Logger" doc:id="fa42d57f-5931-4edb-b30f-03c079466fbe" message='actual payload - #[payload]  #[typeOf(payload)] keyVlaue:  #[vars.key]'/>
		<choice doc:name="Choice" doc:id="dc9c7d8c-bd40-4845-a457-65c35bc01802" >
			<when expression="#[!isEmpty(payload)]">
				<ee:transform doc:name="Transform Message" doc:id="b1bfddd9-b3d5-4061-a5fb-e1ac3d31d648">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0

output application/json

---

read(payload,"application/json")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<ee:transform doc:name="Transform Message" doc:id="4c57e115-ee81-40db-8545-3711f703615c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<flow-ref doc:name="Flow Reference" doc:id="11e4bcaf-1ffe-460c-b965-5e201dcf73c6" name="cloudhub2-prc-app-commonSub_Flow" />
			</otherwise>
		</choice>
    </flow>
    <flow name="post:\accountsDetails:application\json:cloudhub2-prc-app-config">
		<ee:transform doc:name="Transform Message" doc:id="3136fe22-0ef3-43f4-bd4e-078ea382ce02" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="path" ><![CDATA[%dw 2.0
output application/json
---
"/accountsDetails"]]></ee:set-variable>
				<ee:set-variable variableName="method" ><![CDATA[%dw 2.0
output application/json
---
"POST"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8e06ed18-36df-4f03-83df-4efdd3dfdb5b" message="requestPayload #[payload]"/>
		<flow-ref doc:name="Flow Reference" doc:id="c6e6c180-730f-4612-aafa-67edc8938c1c" name="post_cloudhub2-prc-app-commonSub_Flow" />
    </flow>
</mule>
